<!doctype html>
<html lang="en">
	<head><title>Draw - version 10</title></head>
	<body>
		<canvas id="theCanvas" width="640" height="480">
			Attention! Your browser does not support the Canvas.
    </canvas>
    <h1>Hello world</h1>
	</body>
</html>
