<!DOCTYPE html>
<html>
  <head>
  <title>Presence -- Classroom experience online</title>
</head>
<body>
  <video id="localStream" width="300"></video>
  <script src='/lib/js/adapter.js'></script>
</body>
</html>
