<!doctype html>
<html lang="en">
	<head>
    <title>Presences -- Classroom experience online</title>
    <script>const roomId = "<%= roomId %>"</script>
  </head>
	<body>
		<!-- <canvas id="theCanvas" width="640" height="480">
			Attention! Your browser does not support the Canvas.
    </canvas> -->
    <div id="video-grid"></div>
	</body>
</html>
